/* for small devices: phones */

@media only screen and (max-width: 768px) {
  .logo-caption p {
    display: none;
  }
  .logo {
    margin-bottom: 10px;
  }
}


/* REDUCE THE FOOTER SIZE AND LOWER THE FOOTER LOGO WHEN IN LANDSCAPE ON A MOBILE DEVICE */
@media only screen and (max-width: 768px) and (orientation:landscape) {

  #controller, #sticker, #sticker-logos {
    top: 33%;
    /* width: 70%; */
  }
  .color-container {
    top: 55%;
  }
  .footer {
    height: 33%;
  }
  .logo-caption {
    top: 82%;
  }

  .highlight::before {
    bottom: 70%;
  }
  .highlight::after {
    top: 70%;
  }

  #PS4-logo {
    margin-top: -12px;
  }

  /* #sticker-logos {
    margin-top: 3.3%;
    width: 8.4%;
  } */
}

@media only screen and (max-width: 768px) and (orientation:portrait) {

  #controller, #sticker, #sticker-logos {
    top: 37%;
    width: 70%;
  }
  #sticker-logos {
    margin-top: 3.3%;
    width: 8.4%;
  }
  .color-container {
    top: 54%;
  }
  .footer {
    height: 37%;
  }

  .logo-caption {
    width: 10%;
  }
  .logo {
    width: 100%;
  }

  /* .highlight {
    height: 100px;
  } */

  .highlight::before {
    bottom: 80%;
  }
  .highlight::after {
    top: 80%;
  }


  /* POSITIONING ALL THE LOGOS IN THE FOOTER */
  #batman-footer {
    top: 75%;
    left: 17%;
  }
  #destiny-footer {
    top: 75%;
    left: 44%;
  }
  #mass-effect-footer {
    top: 75%;
    left: 69%;
  }
  #skyrim-footer {
    top: 88%;
    left: 17%;
  }
  #transformers-footer {
    top: 88%;
    left: 44%;
  }
  #ps4-footer {
    top: 88%;
    left: 69%;
    padding-top: 1.5%;
  }
  /* END OF ALL FOOTER LOGOS */

  .copyright {
    top: 95.5%;
    font-size: 0.5em;
  }
}
