body {
  background-image: url("media/images/dark-transparent-background.png"), url("media/images/PS4-background.jpg");
  background-color: rgb(30, 30, 30);
  /* background-color: brown; */
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

#controller, #sticker, #sticker-logos {
  position: fixed;
  top: 40%;
  left: 50%;
  /* THIS COMPENSATES FOR IMAGE SIZE TO KEEP IT CENTERED (moves top-left corner)*/
  transform: translate(-50%, -50%);
  /* margin: auto; */
  width: 50%;
  /* height: 12em; */
}
#sticker {
  visibility: hidden;
}
#sticker-logos {
  margin-top: 2.3%;
  width: 6%;
  /* max-height: 1.5em; */
  /* height: 1.5em; */
  /* -webkit-filter: hue-rotate(50deg); */
  visibility: hidden;
}

.color-container {
  position: fixed;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 20%; */
}

.colors {
  display: inline-block;
  height: 1.3em;
  width: 1.3em;
  border-radius: 50%;
  border: solid 1.5px grey;
  margin: 0.5em;
}

.blue {
  background-color: blue;
}
.pink {
  background-color: hotpink;
}
.red {
  background-color: red;
}
.green {
  background-color: rgb(15, 207, 35);
}
.white {
  background-color: white;
}

.footer {
  background-color: rgb(30, 30, 30);
  position: fixed; /* Fixed instead of absolute fixes the scrolling issue. */
  bottom: 0;
  height: 30%;
  width: 100%;
  padding-top: 3em;
  padding-bottom: 4em;
}

.logo-caption {
  color: rgba(255, 255, 255, 0.5);
  float: left;
  text-align: center;
  margin: 0 2em;
  -webkit-filter: invert(50%);
  /* this is passed to each footer-logo */
  position: fixed;
  /* This is the height of all the logos in the footer: */
  top: 85%;
  /* THIS COMPENSATES FOR IMAGE SIZE TO KEEP IT CENTERED (moves top-left corner)*/
  transform: translate(-50%, -50%);
  width: 12%;
}

.logo-caption p {
  margin-bottom: 0;
}

#batman-caption {
  margin-top: 1%;
  font-size: 100%;
}
#destiny-caption {
  margin-top: 4%;
  font-size: 100%;
}
#mass-effect-caption {
  margin-top: -4%;
  font-size: 100%;
}
#skyrim-caption {
  margin-top: 0%;
  font-size: 100%;
}
#transformers-caption {
  margin-top: 2%;
  font-size: 100%;
}
#ps4-caption {
  margin-top: 3%;
  font-size: 100%;
}


/* POSITIONING ALL THE LOGOS IN THE FOOTER */
#batman-footer {
  left: 10%;
}
#destiny-footer {
  left: 25%;
}
#mass-effect-footer {
  left: 40%;
}
#skyrim-footer {
  left: 55%;
}
#transformers-footer {
  left: 70%;
}
#ps4-footer {
  padding-top: 1.5%;
  left: 85%;
}
/* END OF ALL FOOTER LOGOS */



/* .logo {
  display: block;
  margin: auto; */
  /* height: 3em; */
  /* width: 10%; */
/* } */



.logo-caption:hover{
  -webkit-filter: none;
}
.logo-container {
  /* display: inline; */
  width: 100%;
  position: fixed;
  /* top: 85%;
  left: 4%; */
  /* THIS COMPENSATES FOR IMAGE SIZE TO KEEP IT CENTERED (moves top-left corner)*/
  /* transform: translate(-50%, -50%); */
  /* margin: 0 auto; */
  /* margin: 0 10% 0 10%; */
}


/* FOLLOW ALONG HIGHLIGHT  */
.highlight {
  transition: all 0.2s;
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  display: none;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.2); */
  z-index: -1;
  /* border-radius: 5px; */
  margin-bottom: -10px;
}
.highlight::before, .highlight::after {
  content: "";
  position: absolute;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}
.highlight::before {
  width: 100%;
  bottom: 100%;
  border-bottom: 15px solid  rgba(255, 255, 255, 0.6);
  /* border-radius: 5px; */
}
.highlight::after {
  width: 100%;
  top: 100%;
  border-top: 15px solid  rgba(255, 255, 255, 0.6);
}



/* @media only screen and (max-width: 768px) {
  #controller {
    height: 6em;
  }
} */
