.footer {
  background-color: rgba(70, 70, 70, 0.5);
  position: fixed; /* Fixed instead of absolute fixes the scrolling issue. */
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  padding-bottom:100px;
  /* z-index: -3; */
}
.logo {
  display: block;
  margin: auto;
  height: 3em;
  position: relative;
  z-index: 100;
}
.logo-caption {
  float: left;
  text-align: center;
  margin: 0 2em;
  position: relative;
  z-index: 100;
}
.logo-container {
  margin: 0 3%;
  position: relative;
  z-index: 100;
}

/* FOLLOW ALONG HIGHLIGHT  */
.highlight {
  transition: all 0.2s;
  position: absolute;
  background: blue;
  display: block;
  /* box-shadow: 0 0 10px rgba(0,0,0,0.2); */
  z-index: -2;
}
